auto lo
iface lo inet loopback

iface {{ proxmox_nic }} inet manual

auto vmbr0
iface vmbr0 inet static
        address {{ proxmox_management_ip }}
        gateway {{ proxmox_management_gateway }}
        bridge-ports {{ proxmox_nic }}
        bridge-stp off
        bridge-fd 0
        bridge-vlan-aware yes
        bridge-vids 2-4094

auto vmbr0.{{ proxmox_lan_vlan }}
iface vmbr0.{{ proxmox_lan_vlan }} inet static
        address {{ proxmox_lan_gateway | regex_replace('\.1$', '.2') }}/24
        vlan-raw-device vmbr0

# VLAN {{ proxmox_wan_vlan }} - WAN (ONT)
# VLAN {{ proxmox_lan_vlan }} - LAN ({{ proxmox_lan_cidr }})
# OPNsense VM NICs are attached to vmbr0 with these VLAN tags
