[Unit]
Description=GitHub Actions Runner
After=network.target

[Service]
User={{ github_runner_user }}
WorkingDirectory={{ github_runner_dir }}
ExecStart={{ github_runner_dir }}/run.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
