# Copy this to terraform.tfvars and fill in your values
# terraform.tfvars is gitignored

proxmox_api_token = "terraform@pve!terraform=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

# URL to your pre-configured OPNsense image (bz2 compressed)
opnsense_img_url  = ""
