{
	email {{ caddy_acme_email }}
}

*.{{ caddy_domain }} {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}

{% for proxy in caddy_proxies %}
	@{{ proxy.name }} host {{ proxy.name }}.{{ caddy_domain }}
	handle @{{ proxy.name }} {
	{% if proxy.tls_insecure_skip_verify | default(false) %}
		reverse_proxy {{ proxy.backend }} {
			transport http {
				tls_insecure_skip_verify
			}
		}
	{% else %}
		reverse_proxy {{ proxy.backend }}
	{% endif %}
	}

{% endfor %}
	handle {
		respond 404
	}
}
